html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html body {
  margin: 0;
  padding: 0;
  background-color: black;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

:root {
  --primary-font: "BioRhyme Expanded", serif;
  --secondary-font: "Work Sans", sans-serif;
  --tertiary-font: "UnifrakturMaguntia", cursive;
}

img {
  width: 100%;
  height: 100%;
}
